/3549275822/localisation/analysis
/3549275822/localisation/german/*.bak
/3549275822/localisation/german/replace/*.bak
/3549275822/localisation/analysis - Kopie
/3549275822/localisation/german/*.toRemove
